In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [15]:
wash_country = pd.read_csv("data/washdash-download-2.csv")

### CLEAN DATASET

In [ ]:
wash_country.head()

In [19]:
wash_country_cov = wash_country.drop(['Population'], axis =1)
wash_country_spread = pd.pivot_table(wash_country_cov, values = 'Coverage', index=['Country','Year', 'Residence Type'], columns = 'Service level').reset_index()
wash_country_spread.loc[wash_country_spread['Basic service'].isnull(), 'Basic service'] = wash_country_spread['At least basic']
wash_country_spread = wash_country_spread.drop(['At least basic'], axis = 1)

#replace NA values with zero  
wash_country_spread = wash_country_spread.fillna(0)

wash_country_spread.to_csv('wash_country_clean.csv',index=False)

### ALIYA - WATER

In [20]:
wash_country_spread.head()

Service level,Country,Year,Residence Type,Basic service,Limited service,No handwashing facility,Open defecation,Safely managed service,Surface water,Unimproved
0,Afghanistan,2000,rural,21.707450,3.417880,0.0,31.36838,0.0,29.56021,44.410375
1,Afghanistan,2000,total,25.643815,4.715075,0.0,26.01966,0.0,25.24754,44.007510
2,Afghanistan,2000,urban,39.536795,9.293380,0.0,7.14190,0.0,10.02644,42.585655
3,Afghanistan,2001,rural,21.707450,3.417880,0.0,31.36838,0.0,29.56021,44.410375
4,Afghanistan,2001,total,25.660040,4.720420,0.0,25.99761,0.0,25.22977,44.005855

,ISO3,Country,Residence Type,Service Type,Year,Coverage,Population,Service level
0,ABW,Aruba,total,Sanitation,2000,98.32021,89326.86037,At least basic
1,ABW,Aruba,total,Drinking water,2000,94.48881,85845.91524,At least basic
2,ABW,Aruba,total,Sanitation,2000,0.00000,0.00000,Limited service
3,ABW,Aruba,total,Drinking water,2000,0.00000,0.00000,Limited service
4,ABW,Aruba,total,Sanitation,2000,1.04987,953.83727,Open defecation

### AASHNA - SANITATION

### ZELDA - HYGIENE