In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import os

In [49]:
os.getcwd()

'/Users/zeldaferris/Dropbox/Applied-Math-Capstone'

In [50]:
import os
import matplotlib as plt
import pandas

In [51]:
#Cleaning Dataframe

In [52]:
df = pd.read_csv('Raw_Data/washdash-download.csv')
df_hygiene = df[df['Service Type'] == 'Hygiene']
df_hygiene_total = df_hygiene[df_hygiene['Residence Type'] == 'total']
df_hygiene_total.to_csv('Raw_Data/hygiene_data.csv')
df_hygiene_total = df_hygiene_total.drop(['Population', 'Type', 'Residence Type', 'Service Type'], axis =1)
df_hygiene_total.head()

                        Region  Year  Coverage            Service level
642  Central and Southern Asia  2012  57.84334            Basic service
645  Central and Southern Asia  2012  37.61230          Limited service
648  Central and Southern Asia  2012   4.54436  No handwashing facility
679  Central and Southern Asia  2013  57.95544            Basic service
682  Central and Southern Asia  2013  37.51056          Limited service

In [53]:
df_hygiene_spread = pd.pivot_table(df_hygiene_total, values = 'Coverage', index=['Region','Year'], columns = 'Service level').reset_index()
df_hygiene_spread.head()

Service level,Region,Year,Basic service,Limited service,No handwashing facility
0,Central and Southern Asia,2012,57.84334,37.61230,4.54436
1,Central and Southern Asia,2013,57.95544,37.51056,4.53400
2,Central and Southern Asia,2014,58.06169,37.41489,4.52342
3,Central and Southern Asia,2015,58.16124,37.32596,4.51279
4,Central and Southern Asia,2017,58.38168,37.12723,4.49109

In [54]:
df_hygiene['Region'].unique()

array(['Central and Southern Asia', 'Latin America and the Caribbean',
       'Northern Africa and Western Asia', 'Sub-Saharan Africa'],
      dtype=object)

In [55]:
#Annalyize Trends

In [56]:
df_csa = df_hygiene[df_hygiene['Region'] == 'Central and Southern Asia']
df_lac = df_hygiene[df_hygiene['Region'] == 'Latin America and the Caribbean']
df_nawa = df_hygiene[df_hygiene['Region'] == 'Northern Africa and Western Asia']
df_ssa = df_hygiene[df_hygiene['Region'] == 'Sub-Saharan Africa']

In [57]:
import matplotlib.pyplot

In [58]:
sdg_regions = [df_csa, df_lac, df_nawa, df_ssa]
sdg_region_title = ['Central and Southern Asia',
                   'Latin America and the Caribbean', 
                   'Northern Africa and Western Asia', 
                   'Sub-Saharan Africa']
index = 0
for region in sdg_regions: 
        title = sdg_region_title[index]

        plt.plot(region['Year'], region['Basic service'], color = 'lightseagreen', marker = '^', label = "Basic")
        plt.plot(region['Year'], region['Limited service'], color = 'royalblue', marker = '^', label = 'Limited')
        plt.plot(region['Year'], region['No handwashing facility'], color = 'mediumpurple', marker ='.', label = 'No handwashing facility')

        plt.legend(loc='upper center', bbox_to_anchor=(1.45, 0.8), shadow=True, ncol=1)
        plt.xticks(range(2000,2017,2))
        plt.xlabel('Year')
        plt.ylabel('Percent Coverage')
        plt.title(title)
        
        image_title = sdg_region_title[index].replace(" ", "") + "_coverage.png" 
        plt.savefig('Hygiene/' + image_title)
        plt.show()
        index += 1

AttributeError: module 'matplotlib' has no attribute 'plot'